<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Item Catalog</title>
        {% endif %}

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

        {% block head_hook %}{% endblock %}

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
        </script>
    </head>


    <body>
        <div id="header">
            <h1 class="align-main-left">Item Catalog</h1>
            <!--<a href="{{ url_for('show_items') }}">Home</a>-->
            <button class="align-main-right" id="log-in-out">
                {% if current_user.is_anonymous %}
                Log In
                {% else %}
                Log Out
                {% endif %}
            </button>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        {% block contents_layout %}{% endblock %}

        <footer>Udacity Full Stack Nanodegree - Item Catalog</footer>

        <script>
            function gotoLogIn() {
                window.location.href = '{{ url_for('login') }}';
            }

            function logOut() {
                $.post(
                    '{{ url_for('logout') }}',
                    function(data) {
                        console.log('logout result ' + data);
                        window.location.replace('{{ url_for('show_items') }}');
                    }
                );
            }

            $('button#log-in-out').click(
                {% if current_user.is_anonymous %}
                gotoLogIn
                {% else %}
                logOut
                {% endif %}
            );
        </script>
        {% block behaviour %}
        {% endblock %}
    </body>
</html>