{% extends 'categories-layout.html' %}

{% block contents %}
<nav id="categories">
    <h2>Categories</h2>

    <ul>
        {% for category in categories %}
        <li>
            <a href="{{ url_for('category_items', category_name=category.name)}}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

<main id="items">
    <h2>
        {% if category %}
        {{ category.name }} Items
        {% else %}
        All Items
        {% endif %}
    </h2>

    <ul>
        {% for item in items %}
        <li>
            <a href="{{ url_for('view_item', item_id=item.id) }}">{{ item.name }}</a>
            {% if not category %}
            <span class="item-category">{{ item.category.name }}</span>
            {% endif %}
        </li>
        {% endfor %}

        {% if current_user.is_authenticated %}
        <li id="new-item">
            <a href="{{ url_for('create_item') }}">
                <i class="fa fa-plus-square"></i> Create Item
            </a>
        </li>
        {% endif %}
    </ul>


</main>
{% endblock %}