{% extends 'simple-layout.html' %}

{% block contents %}
<h2>
    {% if item_action == 'Create' %}
    Create a new Item
    {% else %}
    Edit Item
    {% endif %}
</h2>

<form id="item-form" action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="flexed">
        <div>
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name() }}
                {% for error in form.name.errors %}
                <span class="form-error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(rows=4) }}
                {% for error in form.description.errors %}
                <span class="form-error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.category_id.label }}
                {{ form.category_id() }}
                {% for error in form.category_id.errors %}
                <span class="form-error">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <div>
            {{ form.image.label }}
            <img id="item-image" src="http://placehold.it/180" alt="item image" />
            {{ form.image() }}
            {% for error in form.image.errors %}
            <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div>
        <input type="submit" value="{{ item_action }}">
        <button type="button" class="cancel">Cancel</button>
    </div>
</form>
{% endblock %}

{% block behaviour %}
<script>
function showUploadedImage(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(imageRead) {
            $("#item-image").attr("src", imageRead.target.result);
        };

        reader.readAsDataURL(input.files[0]);
    }
}

$('#image').on('change', function(event) {
    showUploadedImage(event.target);
});

$('form button.cancel').click(function(e) {
    window.history.back();
});
</script>
{% endblock %}