{% extends 'base.html' %}

{% block title %}
<h1>
    {% if item_action == 'Create' %}
    Create a new Item
    {% else %}
    Edit Item
    {% endif %}
</h1>
{% endblock %}

{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=60) }}
        {% for error in form.name.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        {{ form.description.label }}<br>
        {{ form.description(rows=4, cols=80) }}
        {% for error in form.description.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        <input type="submit" value="{{ item_action }}">
    </div>
</form>
{% endblock %}