body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CCC;
    margin: 0;
}




/* header */
#header {
    background-color: darkblue;
    color: white;
    height: 10em;
    display: flex;
    align-items: center;
}

#header h1 {
    font-size: 5em;
    line-height: 2em;
}

#header h1 a {
    outline: none;
    text-decoration: none;
    color: white;
}

#header h1 a:hover {
    outline: none;
    text-decoration: none;
    color: orangered;
}




/* log-in-out button */
button#log-in-out {
    color: white;
    background-color: orangered;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 0.5em;
    margin-left: auto;
    border: 5px solid orange;
    border-radius: 0.375em;
    cursor: pointer;
}

button#log-in-out:hover {
    background-color: rgb(240, 60, 0);
}

button#log-in-out:active {
    background-color: rgb(225, 50, 0);
    color: darkblue;
    outline: none;
}
/* top bar end */




/* main content */
.centered-panel {
    background-color: #EEE;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #999;
    box-sizing: border-box;
}

.contents {
    width: 67%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 2em;
}

.contents.categories-layout {
    display: flex;
}

.align-main-left {
    margin-left: 16.5%;
    /* (100 - 67 = 33) / 2 */
}

.align-main-right {
    margin-right: 16.5%;
    /* 33 / 2 */
}

h2 {
    color: darkblue;
    font-weight: bold;
    font-size: 3em;
    margin: 0 0 .33em 0;
}




/* flash messages */
#flash {
    width: 67%;
    margin-top: 1em;
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 1em;
}

#flash ul li {
    font-size: 1.5em;
    color: darkblue;
}

#flash ul li.error {
    font-weight: bold;
    color: orangered;
}

#flash ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
    padding: 1em 1em 1em 2em;
}

#flash ul li:not(:last-child) {
    margin-bottom: 0.25em;
}



/* categories ~ items layout */
.categories-layout {
    min-height: 50em;
}
nav#categories {
    flex: 1;
    padding-right: 2em;
    border-right: 1px solid #CCC;
}

main#items {
    flex: 3;
    padding-left: 2em;
}

#categories ul,
#items ul {
    list-style-type: none;
    font-size: 1.75em;
    margin: 0;
    padding: 0;
    line-height: 1.25em;
}

#categories ul a,
#items ul a {
    text-decoration: none;
    font-weight: bold;
}

#categories ul a:link,
#items ul a:link,
#categories ul a:visited,
#items ul a:visited {
    color: orangered;
}

#categories ul a:hover,
#items ul a:hover,
#categories ul a:focus,
#items ul a:focus {
    color: darkblue;
}

#categories ul a:active,
#items ul a:active {
    color: darkblue;
    background-color: orange;
}

#items ul span.item-category {
    color: #999;
    font-style: italic;
}

#items li#new-item a i {
    color:darkblue;
}




/* footer */
footer {
    color: darkblue;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
}

#deleteConfirmation {
    display: none;
}




/* item page */
/* item header */
#item-header {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

#item-header h2 {
    margin-bottom: 0;
}

#item-header #buttons {
    margin-left: auto;
}

/* icon buttons */
.icon-btn {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    font-size: 2em;
    cursor: pointer;
    padding: 0 0.25em;
    width: 2em;
    height: 2em;
    border-radius: 0.25em;
    margin-left: 0.25em;
}

.icon-btn:hover {
    background-color: white;
    color: darkblue;
    border-color: darkblue;
}

.icon-btn:active {
    background-color: orange;
    color: darkblue;
    border-color: darkblue;
}

/* item body */
#item-body {
    margin-top: 1.5em;
}

#item-body p {
    margin: 0;
    font-size: 1.75em;
    line-height: 1.5em;
}

#item-body img {
    float: right;
}

hr {
    margin: 0;
    background-color: darkblue;
    height: 2px;
    border: none;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}




/* form */
/* login */
#login-contents {
    width: 33%;
    min-height: 44em;
}

.form-group {
    margin-bottom: 1.25em;
}

#login-contents form {
    margin-top: 1.75em;
}

label {
    display: block;
    font-size: 1.75em;
    color: darkblue;
}

input[type=text],
input[type=password],
input[type=submit],
form button.cancel,
textarea {
    border: 1px solid orangered;
    font-size: 1.75em;
    border: 1px solid orangered;
    padding: 0.25em;
    color: darkblue;
    box-sizing: border-box;
    border-radius: 0.25em;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    border: 1px solid darkblue;
}


input[type=text],
input[type=password] {
    width:100%;
}

form div.form-group-no-label {
    margin-top: 3.25em;
}

form input[type=submit],
form button.cancel {
    width: 100%;
    color: darkblue;

    background-color: white;
    border: 1px solid darkblue;
    font-weight: bold;

    cursor: pointer;
}

form input[type=submit]:hover,
form button.cancel:hover {
    background-color: orange;
}

form input[type=submit]:active,
form button.cancel:active {
    background-color: orangered;
}

#login-contents hr {
    margin: 3.25em 0;
}

#third-party-auth {
    display: flex;
    justify-content: space-between;
}

textarea {
    border-radius: 0.5em;
    resize: none;
    width: 100%;
}


/* item-form */
.flexed {
    display: flex;
}



/* two col layout */
#item-form div.flexed > div:first-child {
    width: 60%;
}

#item-form div.flexed > div:last-child {
    margin-left: auto;
    width: 35%;
}

#item-form input[type=submit] {
    width: 40%;
}

#item-form button.cancel {
    width: 20%;
}

/* make the item image occupy its own line*/
#item-form img {
    display: block;
}